$u1: 8px;
$u2: 16px;
$u3: 24px;
$u4: 32px;
$u5: 40px;
$u6: 48px;
$u7: 56px;
$u8: 64px;
$u9: 72px;
$u10: 80px;
$u11: 88px;
$u12: 96px;
$u13: 104px;
$u14: 112px;
$u15: 120px;
$u16: 128px;
$u17: 136px;
$u18: 144px;
$u19: 152px;
$u20: 160px;
$u21: 168px;
$u22: 176px;
$u23: 184px;
$u24: 192px;
$u25: 200px;
$u26: 208px;
$u27: 216px;
$u28: 224px;
$u29: 232px;
$u30: 240px;
$u31: 248px;
$u32: 256px;
$u33: 264px;
$u34: 272px;
$u35: 280px;
$u36: 288px;
$u37: 296px;
$u38: 304px;
$u39: 312px;
$u40: 320px;
$u41: 328px;
$u42: 336px;
$u43: 344px;
$u44: 352px;
$u45: 360px;
$u46: 368px;
$u47: 376px;
$u48: 384px;
$u49: 392px;
$u50: 400px;
$u51: 408px;
$u52: 416px;
$u53: 424px;
$u54: 432px;
$u55: 440px;
$u56: 448px;
$u57: 456px;
$u58: 464px;
$u59: 472px;
$u60: 480px;
$u61: 488px;
$u62: 496px;
$u63: 504px;
$u64: 512px;
$u65: 520px;
$u66: 528px;
$u67: 536px;
$u68: 544px;
$u69: 552px;
$u70: 560px;
$u71: 568px;
$u72: 576px;
$u73: 584px;
$u74: 592px;
$u75: 600px;
$u76: 608px;
$u77: 616px;
$u78: 624px;
$u79: 632px;
$u80: 640px;
$u81: 648px;
$u82: 656px;
$u83: 664px;
$u84: 672px;
$u85: 680px;
$u86: 688px;
$u87: 696px;
$u88: 704px;
$u89: 712px;
$u90: 720px;
$u91: 728px;
$u92: 736px;
$u93: 744px;
$u94: 752px;
$u95: 760px;
$u96: 768px;
$u97: 776px;
$u98: 784px;
$u99: 792px;
$u100: 800px;
$u101: 808px;
$u102: 816px;
$u103: 824px;
$u104: 832px;
$u105: 840px;
$u106: 848px;
$u107: 856px;
$u108: 864px;
$u109: 872px;
$u110: 880px;
$u111: 888px;
$u112: 896px;
$u113: 904px;
$u114: 912px;
$u115: 920px;
$u116: 928px;
$u117: 936px;
$u118: 944px;
$u119: 952px;
$u120: 960px;
$u121: 968px;
$u122: 976px;
$u123: 984px;
$u124: 992px;
$u125: 1000px;
$u126: 1008px;
$u127: 1016px;
$u128: 1024px;
$u129: 1032px;
$u130: 1040px;
$u131: 1048px;
$u132: 1056px;
$u133: 1064px;
$u134: 1072px;
$u135: 1080px;
$u136: 1088px;
$u137: 1096px;
$u138: 1104px;
$u139: 1112px;
$u140: 1120px;
$u141: 1128px;
$u142: 1136px;
$u143: 1144px;
$u144: 1152px;
$u145: 1160px;
$u146: 1168px;
$u147: 1176px;
$u148: 1184px;
$u149: 1192px;
$u150: 1200px;
